<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div class="parallax2">
        <h1>
            Drepturile persoanelor fizice date de Regulamentul General de Protectie a Datelor cu Caracter Personal
        </h1><br />
        <h4>Principiile RGDP 679/2016</h4>
        <div class="middle">
            <div class="first">
                <p>
                    Legalitate, echitate și transparență:
                    - acesta este un principiu esențial, strâns asociat cu drepturile fundamentale ale omului.
                    Datele cu caracter personal trebuie să fie prelucrate ”în mod legal, echitabil şi transparent
                    faţă de persoana vizată.”
                    Limitări legate de scop - legal, corect și transparent:
                    - datele personale trebuie să fie colectate în scopuri bine determinate, explicite şi
                    legitime, iar prelucrările ulterioare nu trebuie să se abată de la aceste scopuri;
                    Reducerea la minimum a datelor colectate - adecvate, limitate și relevante:
                    - prin acest principiu operatorii sunt avizați de faptul că orice colectare de date
                    personale trebuie foarte bine analizată înainte de obținerea efectivă a datelor, care trebuie să
                    fie cele mai relevante și strict limitate la ceea ce este absolut necesar pentru scopurile în care
                    sunt prelucrate;
                </p>
            </div>
            <div class="second">
                <p>
                    Verificarea corectitudinii datelor și actualizarea acestora:
                    - operatorii trebuie să se ia toate măsurile pentru a asigura validitatea datelor, iar cele
                    dovedite inexacte trebuie actualizate rapid sau șterse;
                    Limitări legate de stocare:
                    - datele trebuie păstrate fix atâta timp cât sunt necesare pentru prelucrarea asumată.
                    Perioadele mai lungi de stocare sunt excepții asociate cu activități publice de arhivare,
                    cercetare sau statistică;
                    Integritate și confidențialitate – securitatea datelor:
                    - prelucrarea datelor personale trebuie făcută în cele mai proprii condiții de siguranță,
                    care să includă ”protecţia împotriva prelucrării neautorizate sau ilegale şi împotriva pierderii,
                    a distrugerii sau a deteriorării accidentale, prin luarea de măsuri tehnice sau organizatorice
                    corespunzătoare” (ex. certificări ISO 27001);
                </p>
            </div>
            <div class="third">
                <p>
                    Operatorul este responsabil de respectarea celor 6 Principii enumerate mai sus şi
                    trebuie să fie în măsură să demonstreze această respectare.
                    GDPR oferă persoanelor fizice vizate de prelucrarea datelor cu caracter personal următoarele
                    drepturi generale:
                    <ol>
                        <li>Dreptul de a fi informat </li>
                        <li>Dreptul de acces</li>
                        <li>Dreptul la rectificare</li>
                        <li>Dreptul de ștergere</li>
                        <li>Dreptul de a restricționa procesarea</li>
                        <li>Dreptul la portabilitatea datelor</li>
                        <li>Dreptul la obiect</li>
                        <li>Drepturi legate de luarea de decizii automatizate și de profilare</li>
                    </ol>
                </p>
            </div>

        </div>

    </div>
</body>
</html>
