@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bhome">
    <div class="titluprincipal">
        <h2>Cum trebuie să procedezi pentru a-ți crea o programare on-line?</h2>
    </div>
    <div class="top">
        <div>
            <img src="~/css/one.png" />
            <br />
            <h4 style="text-shadow: 2px 2px 5px #57a29e;">Crează-ți un cont</h4>
            <h6><i>Sau intră în contul deja creat</i></h6>

            <p>
                Dă click, în colțul din DREAPTA SUS, pe opțiunea de a-ți crea un cont sau pe cea de a intra în cont.
                Introdu datele necesare celor două operațiuni pentru a finaliza primul pas din proces.<br />
                <b>Nu uita să selectezi rolul pe care îl ai pe acest site!</b>
            </p>
        </div>
        <div>
            <img src="~/css/two.png" />
            <br />
            <h4 style="text-shadow: 2px 2px 5px #57a29e;">Programează-te</h4>
            <h6><i>Sau verifică istoricul programărilor</i></h6>

            <p>
                Pentru a-ți face o programare on-line trebuie să selectezi luna, din coltul din stânga al calendarului, și ziua
                în care dorești. Apoi, se va deschide un formular, cu anumite date ce trebui completate obligatoriu!
                Dacă nu știi la ce medic să îți faci programare, te rog verifică pe pagina <b><i>Secții</i></b> din
                meniul principal, stânga.
            </p>

        </div>
        <div>
            <img src="~/css/three.png" /><br />
            <h4 style="text-shadow: 2px 2px 5px #57a29e;">Verifică datele introduse</h4>
            <h6><i>Sau verifică culoarea programării</i></h6>
            <p>
                <b>Nu uita să selectezi medicul dorit și să te asiguri că in căsuța PACIENT e numele tău!</b>
                În coltul din DREAPTA JOS al formularului,apasă pe butonul verde <b> „TRIMITE”</b> și verifică daca programarea apare în calendar.
                În primă fază, va fi roșie, iar cand medicul o va confirma, se va face verde.
            </p>

        </div>
    </div>
    <h3 style="padding-top: 80px; text-shadow: 2px 2px 5px #57a29e; text-align: center; ">LEGATURI UTILE</h3><br />
    <div class="middle">
        <div class="m1">
            <ul>
                <li><a href="http://www.ms.gov.ro" target="_blank"><b> Ministerul Sanatatii</b></a></li>
                <li><a href="http://www.ms.gov.ro" target="_blank"><b> Ministerul Sanatatii</b></a></li>
                <li><a href="http://www.cassv.ro" target="_blank"><b>CAS Suceava</b></a><br /></li>
            </ul>
        </div>
        <div class="m2">
            <ul>
                <li><a href="http://www.dspsv.ro" target="_blank"><b>Directia de Sanatate Publica Suceava</b></a> <br />
                </li>
                <li><a href="http://www.cmsv.ro" target="_blank"><b>Colegiul Medicilor Suceava</b></a><br />
                </li>
                <li><a href="http://www.falticeni.ro" target="_blank"><b> Primaria Falticeni</b></a><br />
                </li>
            </ul>
        </div>
    </div>
    <div class="bottom">
        <div class="parallax">
            <div>
                <h3 style="padding-top: 10px; text-shadow: 2px 2px 5px #57a29e; text-align: center; margin-bottom: 5px; margin-top: 5px;">DESPRE NOI</h3><br />
                @*<img src="~/css/spital_municipal_falticeni.jpg" style="object-fit:contain" /> <br />*@
                <p>
                    Lucrările la viitoarea unitate medicală din Fălticeni sunt în plină desfășurare. Clădirea, structurată pe șapte corpuri de clădire, este aproape de finalizare.
                    Potrivit informațiilor furnizate de managerul Vlad Morariu, noul spital este realizat în proporție de 90% din actualul proiect.
                    Lucrările la exterior se apropie de finalizare, iar în prezent se lucrează la circuitele interne și la finisaje. Anul acesta s-au alocat 10 milioane de lei pentru noul spital din Fălticeni.
                    Față de proiectul inițial au apărut o serie de modificări, impuse de legislația în domeniul medical. Obiectivul a fost adaptat continuu la noile cerințe din în domeniul sanitar și situațiilor de urgență.
                    Lucrările la noul spital s-au desfășurat într-un ritm susținut după intervențiile administrației locale pe lângă Guvernul României pentru finanțarea obiectivului, în perioada 2012 – 2015, perioadă în care s-au acordat fonduri în valoare de 38 de milioane de lei.
                    Noul spital va avea 250 de paturi, săli moderne de operație, camere cu sistem de ventilație și grupuri sanitare individuale, circuite pentru fluide medicale și aparatură de ultimă generație.
                    Vlad Morariu susține că cel mai probabil noul spital va fi dat în folosință în 2016, însă totul ține de modul cum se va desfășura licitația pe ultima categorie de lucrări,
                </p>
            </div>
        </div>
    </div>
        <div class="harta">
            <div class="hartaL">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2697.460324169571!2d26.293122315425865!3d47.4614584791753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47351bca411f5a29%3A0xb2434dc8fe9d0c25!2sSpitalul%20Municipal!5e0!3m2!1sro!2sro!4v1623081856544!5m2!1sro!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
            </iframe>
            </div>
            <div class="hartaR">
                <h2 style="text-shadow: 2px 2px 5px #57a29e;">Contact</h2><br />
                <p><img src="~/css/tel.png" style="padding-right: 25px;" /> 0230-541.332</p><br />
                <p><img src="~/css/mail.png" style="padding-right: 25px;" />secretariat@spital-falticeni.ro</p>
            </div>
        </div>
        <div class="bottom" style="box-shadow: 25px 15px 55px -13px rgba(0,0,0,0.55);">
            <img src="~/css/spital.jpg" />
        </div>
        
</body>
</html>