<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bsectii">
    <h1 style="text-shadow: 2px 2px 5px #57a29e; text-align: center; margin-bottom: 5px; margin-top: 5px;">Caută medicul dorit</h1>
    <br />
    <div class="tab" style="box-shadow: 25px 15px 55px -13px rgba(0,0,0,0.55);">
        <button class="tablinks" onclick="openCity(event, 'BFT')">BFT</button>
        <button class="tablinks" onclick="openCity(event, 'psihiatrie')">Psihiatrie</button>
        <button class="tablinks" onclick="openCity(event, 'geriatrie')">Geriatrie și Gerontologie</button>
        <button class="tablinks" onclick="openCity(event, 'planificare')">Planificare Familială </button>
        <button class="tablinks" onclick="openCity(event, 'ortopedie')">Ortopedie Traumatologie </button>
        <h5 style="text-align:right; display: inline; padding-left: 200px;">PARTER</h5>
    </div>
    <div id="BFT" class="tabcontent">
        <h3 style="text-shadow: 2px 2px 5px #57a29e; text-align: left; margin-bottom: 5px; margin-top: 5px;">BFT</h3> <br />
        <ul>
            <li>
                <h4><b>Cabinet BFT</b></h4><br />
                <b><i>Dr. Stancu Tatiana Nicoleta</i></b>– Medic Specialist<br />
                <b><i>Dr. Nistor Oana</i></b>– Medic Specialist <br />
                Telefon: 0755 051 356<br />
                <h6>Program: Luni – Vineri 8.00 – 15.00</h6><br /><br />
            </li>
        </ul>
    </div>
    <div id="psihiatrie" class="tabcontent">
        <h3 style="text-shadow: 2px 2px 5px #57a29e; text-align: left; margin-bottom: 5px; margin-top: 5px;">Psihiatrie</h3> <br />
        <ul>
            <li>
                <h4><b>Cabinet Psihiatrie</b> </h4><br />
                <b><i>Dr. Titieni Alexandru Cristian</i></b>– Medic Specialist<br />
                Telefon: 0757 118 147<br />
                <h6> Program: Luni – Vineri 8.00 – 15.00</h6><br />
                <br />
            </li>
        </ul>
    </div>
    <div id="geriatrie" class="tabcontent">
        <h3 style="text-shadow: 2px 2px 5px #57a29e; text-align: left; margin-bottom: 5px; margin-top: 5px;">Geriatrie și Gerontologie</h3> <br />
        <ul>
            <li>
                <h4><b>Cabinet Geriatrie și Gerontologie</b></h4><br />
                <b><i>Dr. Rotar Elvira Sînziana </i></b>– Medic Specialist<br />
                Telefon: 0756 999 804<br />
                <h6>Program: Luni – Vineri 8.00 – 15.00</h6><br />
                <br />
            </li>
        </ul>
    </div>
    <div id="planificare" class="tabcontent">
        <h3 style="text-shadow: 2px 2px 5px #57a29e; text-align: left; margin-bottom: 5px; margin-top: 5px;">Planificare Familială</h3> <br />
        <ul>
            <li>
                <h4><b>Cabinet Planificare Familială </b></h4><br />
                <b><i>Dr. Irimia Valentina</i></b> <br />
                Telefon: 0757 118 133<br /> <br />
            </li>
        </ul>
    </div>

    <div id="ortopedie" class="tabcontent">
        <h3 style="text-shadow: 2px 2px 5px #57a29e; text-align: left; margin-bottom: 5px; margin-top: 5px;">Ortopedie Traumatologie</h3> <br />
        <ul>
            <li>
                <h4><b>Cabinet Ortopedie Traumatologie</b></h4>
                <br />
                <b><i>Dr. Rusu Andrei </i></b>– Medic Specialist
                <h6>Program: Luni – Vineri 8.00 – 15.00</h6><br /><br />
            </li>
        </ul>
    </div>
    <div class="tab" style="box-shadow: 25px 15px 55px -13px rgba(0,0,0,0.55); margin-top:50px;">
        <button class="tablinks" onclick="openCity(event, 'TBC')">TBC</button>
        <button class="tablinks" onclick="openCity(event, 'pneumologie')">Pneumologie</button>
        <button class="tablinks" onclick="openCity(event, 'neurologie')">Neurologie</button>
        <button class="tablinks" onclick="openCity(event, 'chirurgie')">Chirurgie</button>
        <h5 style="text-align:right; display: inline; padding-left: 550px;">ETAJ I</h5>
    </div>
    <div id="TBC" class="tabcontent">
        <h3 style="text-shadow: 2px 2px 5px #57a29e; text-align: left; margin-bottom: 5px; margin-top: 5px;">Dispensar TBC</h3><br />
        <ul>
            <li>
                <h4><b>Dispensar TBC</b></h4> <br />
                <b><i>Dr. Iftimesei Elena</i></b> <br />
                Telefon: 0752 126 607<br />
                <h6>Program: Luni – Vineri 08.00 – 15.00</h6><br />
            </li>
        </ul>
    </div>
    <div id="pneumologie" class="tabcontent">
        <h3 style="text-shadow: 2px 2px 5px #57a29e; text-align: left; margin-bottom: 5px; margin-top: 5px;">Cabinet Pneumologie</h3> <br />
        <ul>
            <li>
                <h4><b> Cabinet Pneumologie</b></h4><br />
                <b><i>Dr. Vizitiu Aurelia</i></b>– Medic Specialist <br />
                Telefon: 0757 118 135<br />
                <h6>Program: Luni, Marți, Joi, Vineri 8.00 – 15.00 | Miercuri 11.30 – 18.30</h6><br /><br />
            </li>
        </ul>
    </div>
    <div id="neurologie" class="tabcontent">
        <h3 style="text-shadow: 2px 2px 5px #57a29e; text-align: left; margin-bottom: 5px; margin-top: 5px;">Cabinet Neurologie</h3> <br />
        <ul>
            <li>
                <h4><b> Cabinet Neurologie</b></h4><br />
                <b><i>Dr. Constantin Nicoleta</i></b>– Medic Primar<br />
                Telefon: 0755 051 355<br />
                <h6>Program: Luni – Vineri 10.00 – 13.30</h6><br /><br />

            </li>
        </ul>
    </div>
    <div id="chirurgie" class="tabcontent">
        <h3 style="text-shadow: 2px 2px 5px #57a29e; text-align: left; margin-bottom: 5px; margin-top: 5px;">Cabinet Chirurgie</h3> <br />
        <ul>
            <li>
                <h4><b>Cabinet Chirurgie</b></h4><br />
                <b><i>Dr. Larion Gabriel Emil </i></b>– Medic Primar<br />
                <b><i>Dr. Dodu Lilian </i></b>– Medic Specialist<br />
                <b><i>Dr. Diaconu Bogdan </i></b>– Medic Specialist <br />
                Telefon: 0755 051 357<br />
                <h6>Program: Luni – Vineri 8.00 – 15.00</h6><br /><br />

            </li>
        </ul>
    </div>

    <div class="tab" style="box-shadow: 25px 15px 55px -13px rgba(0,0,0,0.55);margin-top:50px;">
        <button class="tablinks" onclick="openCity(event, 'endocrinologie')">Cabinet Endocrinologie</button>
        <button class="tablinks" onclick="openCity(event, 'ORL')">ORL</button>
        <button class="tablinks" onclick="openCity(event, 'dermato')">Dermatovenerologie</button>
        <button class="tablinks" onclick="openCity(event, 'interne')">Boli interne</button>
        <h5 style="text-align:right; display: inline; padding-left: 400px;">ETAJ II</h5>
    </div>
    <div id="endocrinologie" class="tabcontent">
        <h3 style="text-shadow: 2px 2px 5px #57a29e; text-align: left; margin-bottom: 5px; margin-top: 5px;">Cabinet Endocrinologie</h3><br />
        <ul>
            <li>
                <h4><b>Cabinet Endocrinologie</b></h4><br />
                <b><i> Dr. Pînzaru Ioan-Cătălin </i></b>– Medic Specialist<br />
                Telefon: 0752 126 633<br />
                <h6>Program: Luni – Vineri 8.00 – 15.00</h6><br /><br />

            </li>
        </ul>
    </div>
    <div id="ORL" class="tabcontent">
        <h3 style="text-shadow: 2px 2px 5px #57a29e; text-align: left; margin-bottom: 5px; margin-top: 5px;">Cabinet ORL</h3><br />
        <ul>
            <li>
                <h4><b> Cabinet ORL</b></h4><br />
                <b><i>Dr. Popescu Teodora Monica</i></b>– Medic Primar<br />
                Telefon: 0755 051 354 <br />
                <h6> Program: Luni – Vineri 8.00 – 13.25</h6><br /><br />
            </li>
        </ul>
    </div>
    <div id="dermato" class="tabcontent">
        <h3 style="text-shadow: 2px 2px 5px #57a29e; text-align: left; margin-bottom: 5px; margin-top: 5px;">Cabinet Dermatovenerologie</h3><br />
        <ul>
            <li>
                <h4><b>Cabinet Dermatovenerologie</b></h4><br />
                <b><i>Dr. Vasiliu Mihaela </i></b>– Medic Primar <br />
                Telefon: 0757 118 134<br />
                <h6>Program: Luni – Vineri 11.30 – 15.00</h6><br />
                <b><i>Dr. Anton Andreea</i></b>– Medic Specialist<br />
                Telefon: 0757 118 134<br />
                <h6>Program: Luni – Vineri 8.00 – 11.30</h6><br /><br />

            </li>
        </ul>
    </div>
    <div id="interne" class="tabcontent">
        <h3 style="text-shadow: 2px 2px 5px #57a29e; text-align: left; margin-bottom: 5px; margin-top: 5px;">Cabinet Boli Interne</h3><br />
        <ul>
            <li>
                <h4><b>Cabinet Boli Interne</b></h4> <br />
                <b><i>Dr. Sănucean Viorica</i></b>– Medic Specialist <br />
                Telefon: 0755 051 352<br />
                <h6>Program: Luni, Marți, Joi, Vineri 8.00 – 15.00 | Miercuri 10.00 – 17.00</h6> <br /><br />

            </li>
        </ul>
    </div>
    <script>
        function openCity(evt, nivel) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(nivel).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
</body>
</html>
